#!/bin/bash

# 
# General configuration for puller utility:
#

# Mailer
# MAILER=/usr/sbin/sendmail
MAILER=(/usr/sbin/sendmail "-C" ~/.ssmtp.conf)

# Which "from" name/address to use whens sending out emails
MAIL_FROM="git-puller <Do.Not.Reply@gitpuller.com>"

# False to stop sending merge emails
SEND_MERGE_MAILS=1

# False to stop sending error/warning mails
SEND_ERROR_MAILS=1

# The team maintaining this script to receive usage/success/failure reports
# This will be used in CC if defined
DEV_TEAM_MAIL=""

# How to log date?
DATE_FORMAT="%d/%m/%Y %H:%M:%S"

# Default logging level
LOG_LEVEL=10

# Key to use when cloning
KEY_FILE=~/.ssh/id_rsa
